<div class="border-2 relative rounded gap-1 border-brawl-navy px-5 py-3 bg-brawl-blue flex flex-col">
  <span class="text-base text-shadow text-border-xs text-brawl-baby-blue">Trompi123</span>
  <span class="text-lg text-shadow text-border-xs text-brawl-white">
            Muy buena caja, me ha tocado un brawler legendario, muy contento con la compra
          </span>

  <div class="flex m-2 absolute top-0 right-0">
    <img src="/star-yellow.svg" alt="star-fill" class="w-6 h-6">
    <img src="/star-yellow.svg" alt="star-fill" class="w-6 h-6">
    <img src="/star-yellow.svg" alt="star-fill" class="w-6 h-6">
    <img src="/star-yellow.svg" alt="star-fill" class="w-6 h-6">
    <img src="/star-empty.svg" alt="star-fill" class="w-6 h-6">
  </div>

  <span class="text-xs absolute bottom-0 right-0 text-brawl-navy m-2">Hace 8d 6h</span>
</div>
