<header class="p-4 bg-brawl-dark-slate border-b-2 border-slate-800 gap-10 text-white items-center  h-full justify-between text-xl flex text-shadow text-border-sm">
  <div class="flex gap-10"> <!-- Este div hace que los elementos ocupen toda la altura del header -->
    <img src="/logo.png" alt="Colette's Shop" class="w-28 h-auto">
    <div class="flex gap-6">
      <a class="flex items-center gap-1 hover:bg-gray-600 cursor-pointer rounded-lg px-4">
        <img src="/shop_icon.png" alt="Icono tienda" class="w-10">
        <h1>Tienda</h1>
      </a>

      <a class="flex items-center gap-1 hover:bg-gray-600 cursor-pointer rounded-lg px-4">
        <img src="/collection_icon.png" alt="Icono colección" class="w-10">
        <h1>Colección</h1>
      </a>

      <a class="flex items-center gap-1 hover:bg-gray-600 cursor-pointer rounded-lg px-4">
        <img src="/box_icon.png" alt="Icono caja" class="w-10">
        <h1>Inventario</h1>
      </a>
    </div>
  </div>

  <img src="https://cdn.brawlify.com/brawlers/borderless/16000000.png" alt="profile picture" class="w-14 h-14 border-4 border-black">
</header>
