<img src="/images/backgrounds/auth-bg.png" alt="Colette's Shop Logo" class="fixed w-screen h-screen object-cover -z-50">

<div class="w-screen min-h-screen h-full p-2 md:p-10 pt-10 flex flex-col gap-6 sm:gap-12 justify-center items-center relative brawl-font">

  <h1 class="text-9xl text-center text-shadow spotlight text-border-sm"
      [ngClass]="{'text-grow': !cardVisible(), 'text-shrink': cardVisible(), 'md:text-border-lg': !cardVisible(), 'md:text-border-md': cardVisible()}">
    Colette's <br>
    <span class="text-white">SHOP</span>
  </h1>

  <p-card *ngIf="loginVisible" (keydown)="$event.key === 'Enter' ? login() : null"  class="w-full sm:w-auto">
    <div class="flex flex-col w-full sm:w-[300px]">
      <h2 class="text-center text-2xl mb-6">Iniciar Sesión</h2>

      <div class="flex items-center w-full gap-4 mb-4">
        <i class="pi pi-user"></i>

        <p-floatlabel variant="on" class="w-full">
          <input pInputText id="username" autocomplete="off" class="w-full" [(ngModel)]="username" />
          <label for="username">Nombre de Usuario</label>
        </p-floatlabel>
      </div>

      <div class="flex items-center w-full gap-4 mb-4">
        <i class="pi pi-lock"></i>

        <p-floatlabel variant="on" class="w-full">
          <p-password [toggleMask]="true" [feedback]="false" id="password"
                      [maxLength]="30" [(ngModel)]="password" />

          <label for="password">Contraseña</label>
        </p-floatlabel>
      </div>

      <div class="flex gap-4 flex-wrap justify-center mt-5 sm:pt-0">
        <button (click)="login()" [disabled]="loginSubmitted" class="btn-yellow text-shadow text-border-sm">Entrar</button>
        <button (click)="loginVisible = false" class="btn-link">Volver</button>
      </div>
    </div>
  </p-card>

  <p-card *ngIf="registerVisible" class="w-full sm:w-[600px]">
    <app-register-stepper (stepperClosed)="registerVisible = false" />
  </p-card>

  <div class="absolute bottom-10 flex flex-col md:flex-row gap-6" [ngClass]="{'button-hide hidden': cardVisible(), 'fade-up': !cardVisible()}">
    <button (click)="loginVisible = true" class="btn-yellow-hover text-shadow text-border-sm">
      INICIAR SESIÓN
    </button>
    <button (click)="registerVisible = true" class="btn-yellow-hover custom-btn text-shadow text-border-sm">REGISTRARSE</button>
  </div>
</div>
