<div class="flex ps-3 rounded-e-full rounded-xl text-brawl-white bg-brawl-black">
  <div class="relative text-lg ">
    <span class="p-1 px-5 h-full flex items-center text-center">{{ gems }}</span>
    <img src="/images/icons/brawl-gem-icon.png" class="w-auto h-9 absolute -left-8 top-1/2 -translate-y-1/2" alt="Gemas">
  </div>
  <div class="brawl-button p-1 px-3 text-xl w-full" tooltipPosition="bottom" pTooltip="Las gemas sirven para descontar dinero en tus proximas compras, se pueden conseguir comprando cajas">
    ?
  </div>
</div>
