<style>
  ::ng-deep .p-tooltip-text {
    text-align: center;
  }
</style>

<div *ngIf="!loadingData">
  <h1 class="text-2xl font-bold pb-2">Resumen del mes</h1>
  <div class="flex flex-col md:flex-row justify-between gap-6 pb-6">
    @for (statsCard of statCards; track statsCard.key) {
      <app-stat-card [statCard]="statsCard"></app-stat-card>
    }
  </div>

  <p-tabs value="boxes" *ngIf="!loadingData">
    <p-tablist>
      @for (statCard of statCards; track statCard.key) {
        <p-tab value="{{statCard.key}}">
          <i class="pi {{statCard.tabIcon}}"></i>
          <span>{{statCard.title}}</span>
        </p-tab>
      }
    </p-tablist>
    <p-tabpanels>
      @for (stat of stats; track stat.key) {
        <p-tabpanel value="{{stat.key}}">
          <p-chart [type]="stat.type" [data]="stat" [options]="options" class="h-[30rem] my-chart"/>
        </p-tabpanel>
      }
    </p-tabpanels>
  </p-tabs>
</div>
