<div *ngIf="pageLoaded" class="min-h-screen overflow-hidden flex justify-center items-center relative brawl-font bg-brawl-dark-blue bg-gradient-radial via-brawl-dark-blue to-brawl-dark-blue p-10 from-brawl-blue">
  <div class="moving-background box-moving-background"></div>
  <span class="text-brawl-white absolute w-full m-7 top-0 text-2xl text-center text-shadow text-border-sm font-bold">¡Toca para abrir!</span>
  <button class="p-2 px-3 text-brawl-white brawl-danger-button absolute m-5 top-0 right-0">
    <img src="/images/icons/close-icon.png" class="h-7" alt="Close">
  </button>

  <div class="flash-animation" *ngIf="flashVisible"></div>
  <img (click)="showFlash()" src="/images/boxes/megabox.png" class="w-full open-box-animation cursor-pointer box-entrance-animation z-10 max-w-72 max-h-72" alt="Megabox">
</div>


