<div *ngIf="pageLoaded" class="min-h-screen overflow-hidden flex justify-center items-center relative brawl-font p-10 {{ getParentActualPageClasses() }}">
  <div *ngIf="actualPage == 'open-box'" class="w-full h-full flex justify-center items-center">
    <div class="moving-background box-moving-background"></div>
    <span class="text-brawl-white absolute w-full m-7 top-0 text-2xl text-center text-shadow text-border-sm font-bold">¡Toca para abrir!</span>
    <button class="p-2 px-3 text-brawl-white brawl-danger-button absolute m-5 top-0 right-0">
      <img src="/images/icons/close-icon.png" class="h-7" alt="Close">
    </button>

    <img (click)="openBox()" src="/images/boxes/megabox.png" alt="Megacja" class="w-full open-box-animation cursor-pointer box-entrance-animation z-10 max-w-72 max-h-72">
  </div>

  <div *ngIf="actualPage == 'duplicate-brawler'" class="w-full h-full flex justify-center items-center">
    <div class="circus-background"></div>

    <div class="z-10 fade-in-medium flex flex-col justify-center gap-4 w-full items-center">
      <div class="flex flex-col items-center">
        <img src="/images/brawlers/16000000_main.png" alt="pepe" class="h-32 w-32 z-10 border-4 border-brawl-black">

        <div class="relative animation-delay-2s trophy-difference-animation">
          <div class="bg-brawl-black inverted-pentagon-shape w-[6.25rem] h-9 absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"></div>
          <div class="bg-brawl-purple gap-1.5 flex justify-center pb-1 text-lg items-center inverted-pentagon-shape w-24 h-8 relative text-brawl-white brawl-font text-border-xs text-shadow">
            <span>+{{ trophyProgression }}</span>
            <img src="/images/icons/trophy-icon.png" class="h-4" alt="Trophy">
          </div>
        </div>
      </div>

      <div class="flex w-full max-w-44 me-2.5">
        <div id="tier-space" class="relative {{ tierContainerSize }} h-full overflow-visible">
          <img src="{{ getTierImage() }}" alt="Tier 31" class="{{ tierSize }} ease-in z-10 w-auto -top-[0.4rem] -right-1 object-contain absolute" style="transition-duration: 0.1s" [style.filter]="tierBrightness">
        </div>

        <div id="trophy-bar-container" class="h-6 w-full relative">
          <div id="trophy-bar-border" class="h-7 bg-brawl-black ps-5 flex justify-center items-center parallelogram_shape-sm w-[103%] absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"></div>
          <div id="trophy-bar" class="bg-gradient-to-b h-full from-brawl-dark-pink via-brawl-dark-pink to-brawl-grape-purple w-full outline-offset-8 parallelogram_shape-sm">
            <div id="trophy-indicator" class="text-brawl-white z-10 text-base absolute h-full transform w-full justify-center items-center flex gap-1 brawl-font text-border-sm text-shadow">
              <img src="/images/icons/trophy-icon.png" class="h-3.5" alt="Trophy">
              <span>{{ actualTrophyCount }} / {{ actualTrophyMax }}</span>
            </div>
            <div id="trophy-bar-progress" class="{{ trophyProgressBarColor }} absolute left-0 from-brawl-gold via-brawl-orange to-brawl-orange h-full" [style.width]="(actualTrophyCount / actualTrophyMax * 100) + '%'"></div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="flash-animation" *ngIf="flashVisible"></div>
</div>


