<div class="min-h-screen overflow-hidden bg-gradient-radial via-brawl-dark-blue to-brawl-dark-blue flex-col from-brawl-blue relative brawl-font">
  <app-brawl-header/>

  <div class="flex gap-10 items-center flex-col p-10 pt-16 justify-center max-w-[850px] mx-auto">
    <div class="flex justify-between w-full gap-12 mb-4">
      <h1 class="text-white m-0 text-3xl text-border-regular">
        BRAWLERS
        <span class="text-brawl-light-blue">(13/22)</span>
      </h1>

      <div class="parallelogram_shape-sm bg-brawl-black py-0.5 items-center min-w-52 cursor-pointer text-white flex justify-center text-center">
        MAS TROFEOS
      </div>

      <div class=" bg-brawl-light-blue bg-opacity-20 rounded-lg px-2 py-1">
        <label for="only-favorite-brawlers" class="brawl-checkbox-container h-8 justify-center text-brawl-white text-md inline-flex content-center">
          <input type="checkbox" class="brawl-checkbox" id="only-favorite-brawlers"/>
          <span class="brawl-checkmark"></span>
          <img src="/images/icons/heart-icon.png" class="h-6" alt="Heart Icon">
        </label>
      </div>
    </div>

    <div class="grid grid-cols-1 xs:grid-cols-2 md:grid-cols-3 gap-12">
      <app-brawler-card *ngFor="let brawler of unlockedBrawlers" [brawler]="brawler"/>
    </div>

    <div class="bg-brawl-black w-full h-2 relative text-white mt-10 text-center">
      <span class="absolute left-1/2 transform -translate-x-1/2 -top-3">
        BRAWLERS POR DESBLOQUEAR
      </span>
    </div>

    <div class="grid grid-cols-1 xs:grid-cols-2 md:grid-cols-3 gap-12">
      <app-brawler-card *ngFor="let brawler of blockedBrawlers" [brawler]="brawler"/>
    </div>
  </div>
</div>
