<div class="min-h-screen  overflow-hidden bg-gradient-radial via-brawl-dark-blue to-brawl-dark-blue flex-col from-brawl-blue relative brawl-font">
  <app-brawl-header/>

  <div class="p-10 flex w-full justify-center">
    <div class="flex justify-between gap-10 w-full">
      <h1 class="text-white m-0 text-3xl text-border-regular">
        BRAWLERS
        <span class="text-brawl-light-blue">(13/22)</span>
      </h1>

      <div class="parallelogram_shape-sm bg-brawl-black py-0.5 items-center min-w-52 cursor-pointer text-white flex justify-center text-center">
        MAS TROFEOS
      </div>

      <div class=" bg-brawl-light-blue bg-opacity-20 rounded-lg px-2 py-1">
        <label for="only-favorite-brawlers" class="brawl-checkbox-container h-8 justify-center text-brawl-white text-md inline-flex content-center">
          <input type="checkbox" class="brawl-checkbox" id="only-favorite-brawlers"/>
          <span class="brawl-checkmark"></span>
          <img src="/images/icons/heart-icon.png" class="h-6" alt="Heart Icon">
        </label>
      </div>
    </div>

  </div>
</div>
