
<div *ngIf="dataLoaded" class="bg-brawl-sea-blue min-h-screen text-brawl-white brawl-font">
  <app-brawl-header></app-brawl-header>

  <div class="grid lg:grid-cols-2 gap-20">
    <div class="grid lg:h-screen h-max lg:sticky py-5 top-0 flex-col items-center gap-12" style="grid-template-rows: auto minmax(0, 1fr) auto">
      <div class="text-shadow text-border-sm flex items-center mb-6 justify-center gap-8">
        <button class="p-1 brawl-button" (click)="goHome()">
          <img src="/images/icons/left-arrow.png" alt="left-arrow" class="w-8 h-8">
        </button>
        <h1 class="text-2xl font-bold">DETALLES DE LA CAJA</h1>
      </div>

      <div class="w-full p-5 sm:p-0 h-44 lg:h-full flex flex-1 justify-center items-center spotlight-blue">
        <img src="{{ BoxTypeImages[box.type] }}" alt="{{ box.type }}" class="w-full h-full object-contain max-w-64 max-h-64 hover:scale-110 transition-all hover:rotate-12">
      </div>

      <div class="flex flex-col justify-center gap-5 text-shadow text-border-xs">
        <h1 class="{{ box.name.length > 20 ? 'text-3xl' : 'text-5xl' }} text-border-sm font-bold text-center">
          {{ box.name }} <h2 class="text-lg text-border-xs text-brawl-gold">{{ box.price }} €</h2>
        </h1>
        <div class="text-center items-center text-xl flex flex-col gap-2 justify-center">
          <span *ngIf="box.boxes_left != -1">
            Quedan <span class="text-brawl-green">{{ box.boxes_left }}</span> unidades
          </span>

          <span *ngIf="box.boxes_left === -1">
            Unidades ilimitadas
          </span>

          <span>
            Contiene <span class="text-brawl-green">{{ box.brawler_quantity }}</span> {{ box.brawler_quantity > 1 ? 'brawlers' : 'brawler' }}
          </span>

          <span>
            <span class="text-brawl-green">{{ averageRating }}</span> calificación promedio
          </span>

          <button class="brawl-button p-1 px-3 w-full max-w-72 mt-5 text-2xl" (click)="addBoxToCart()" *ngIf="!(boxShopNotHaveStock() || boxDailyClaimed())">Añadir al carrito</button>
          <span class="max-w-72 mt-5 text-2xl p-2 bg-brawl-dark-slate text-brawl-light-gray w-full rounded-lg" *ngIf="boxShopNotHaveStock()">AGOTADO</span>
          <span class="max-w-72 mt-5 text-2xl p-2 bg-brawl-dark-slate text-brawl-light-gray w-full rounded-lg" *ngIf="boxDailyClaimed()">RECLAMADO</span>
        </div>
      </div>

    </div>

    <div class="flex flex-col gap-5 xs:p-10 p-5 pt-0 lg:pt-10 lg:ps-0">
      <h1 class="text-4xl font-bold text-shadow text-border-sm">Brawlers disponibles</h1>

      <div class="flex flex-col gap-3">
        <div *ngFor="let rarity of rarities">
          <div class="bg-brawl-dark-slate my-5 h-1 flex items-center ps-5 text-shadow text-border-xs">
            {{ rarity.name }}
          </div>
          <div class="flex gap-4 flex-wrap">
            <div class="text-center relative" *ngFor="let brawler of brawlersByRarity[rarity.name]">
              <img src="{{brawler.image}}" [pTooltip]="brawler.name" tooltipPosition="top" alt="{{brawler.name}}" class="w-16 h-16 border-4 border-brawl-black">
              <span class="text-sm {{ brawler.probability < 10 ? 'text-red-300' : brawler.probability > 90 ? 'text-brawl-gold' : 'text-brawl-white' }}">{{brawler.probability}}%</span>
              <div class="brawl-heart absolute -top-1 -left-1" *ngIf="brawler.user_favorite">
                <i class="pi pi-heart-fill"></i>
              </div>
            </div>
          </div>
        </div>

        <span *ngIf="brawlers.length === 0" class="text-2xl text-shadow text-border-sm text-brawl-yellow">No hay brawlers</span>
      </div>

      <h1 class="text-4xl mt-10 font-bold text-shadow text-border-sm">Opiniones</h1>
      <div class="flex flex-col gap-5 mb-5">
        <app-review *ngFor="let review of showReviews; let last = last" (mouseenter)="onReviewHover(last, true)"
                    (mouseleave)="onReviewHover(last, false)" [review]="review"></app-review>

        <span *ngIf="showReviews.length === 0" class="text-2xl text-shadow text-border-sm text-brawl-yellow">No hay opiniones</span>

        <button class="brawl-button" (click)="showMoreReviews()" *ngIf="showReviews.length < allReviews.length">VER MÁS</button>
      </div>

    </div>
  </div>
  <app-cart-btn [transparent]="lastReviewIsHovered"/>
</div>
