<div class="flex flex-col items-center gap-0.5 w-full">
  <span class="{{ color }} text-shadow text-sm text-border-xs">{{ title }}</span>
  <div class="relative w-full">
    <img src="{{ icon }}" alt="box" class="absolute z-10 transform -translate-y-1/2 top-1/2 -left-6 w-10 h-10 object-contain rotate-6"/>
    <div class="text-brawl-white flex {{ bgColor }} max-w-44 w-full py-1 paralelogram_shape_plus-md rounded-md justify-center text-center">
      <span class="text-xl">{{ value }}</span>
    </div>
  </div>
</div>
