<div class="flex flex-col items-center gap-0.5 w-full">
  <span class="text-brawl-light-gray text-shadow text-sm text-border-xs">TROFEOS TOTALES</span>
  <div class="relative w-full">
    <img src="/images/icons/box-icon.png" alt="box" class="absolute z-10 transform -translate-y-1/2 top-1/2 -left-6 w-14 object-contain rotate-6"/>
    <div class="text-brawl-white flex bg-blue-900 max-w-44 w-full py-1 paralelogram_shape_plus-md rounded-md justify-center text-center">
      <span class="text-xl">100</span>
    </div>
  </div>
</div>


<!--<div class="flex flex-col items-center gap-0.5">-->
<!--  <span class="text-{{ card.color }} text-shadow text-sm text-border-xs">{{ card.title }}</span>-->
<!--  <div class="relative">-->
<!--    <img src="{{ card.icon }}" alt="box" class="absolute z-10 transform -translate-y-1/2 top-1/2 -left-6 w-14 object-contain rotate-6"/>-->
<!--    <div class="text-brawl-white flex bg-{{ card.bgColor }} px-16 py-1 paralelogram_shape_plus-md rounded-md">-->
<!--      <span class="text-xl">{{ card.value }}</span>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
