<app-brawl-header></app-brawl-header>

<div class="w-full h-full bg-brawl-dark-blue">
  <div class="relative">
    <img src="/brawl-gift-shop.jpg" class="w-full h-52 object-cover opacity-70 border-b-4 border-slate-800" alt="Brawl Gift Shop">
    <img src="/images/brawlers/16000039_model.png" class="absolute bottom-1 object-top left-5 w-32 h-44 object-cover" alt="Colette">
    <div class="absolute left-32 bottom-10 w-[246px] h-[70px] lg:h-auto lg:w-auto object-top object-cover">
      <img src="/speech_bubble.png" class="right-5  hidden xs:block w-full h-full lg:w-[1000px] lg:h-24" alt="Speech Bubble">
      <span class="hidden lg:block object-top ps-20 absolute right-5 p-3 object-cover text-black font-bold top-0">
        ¡HOLA, HOLA, PEPITO! ¡Soy Colette, tu NUEVA MEJOR AMIGA! Bienvenido a mi TIENDA, donde hay <span class="text-brawl-blue">CAJAS</span>, <span class="text-brawl-lime">BRAWLERS</span> y más <span class="text-brawl-blue">CAJAS</span>!
        ¡Rápido, recoge tu recompensa diaria! O mejor aún… ¡COMPRA MÁS <span class="text-brawl-blue">CAJAS</span>! ¡Muchísimas! ¡Así tendras más <span class="text-brawl-lime">BRAWLERS</span> para tu <span class="text-brawl-pink">COLECCION</span>!
        ¡Vamos, NO ME HAGAS ESPERAR! 💕
      </span>

      <span class=" hidden xs:block lg:hidden object-top ps-6 left-0 absolute right-5 p-3 object-cover text-black font-bold top-0">
        HOLA, HOLA, PEPITO! Bienvenido a mi TIENDA 💕
      </span>
    </div>
  </div>

  <div class="bg-brawl-blue p-8 flex flex-wrap border-b-2 border-brawl-navy items-center px-16 justify-between gap-5">
    <h1 class="text-2xl text-white text-shadow text-border-sm font-bold">FILTROS</h1>
    <div class="flex items-center gap-5">
      <p-input-number [(ngModel)]="rangeValues[0]" mode="currency" (keyup)="minPriceChange($event)" currency="EUR" locale="de-DE" min="0" max="50" inputStyleClass="w-24" />
      <p-slider [(ngModel)]="rangeValues" [range]="true" min="0" max="50" styleClass="h-32 w-56 brawl-range-slider" />
      <p-input-number [(ngModel)]="rangeValues[1]" (keyup)="maxPriceChange($event)" mode="currency" currency="EUR" locale="de-DE" min="0" max="50" inputStyleClass="w-24" />
    </div>

    <div class="bg-brawl-black h-9 parallelogram_shape-sm flex items-center justify-center w-56 cursor-pointer text-center text-brawl-white">
      Todas
    </div>

      <label for="only-favorite-brawlers" class="brawl-checkbox-container text-brawl-white text-md inline-flex items-center">
        <input type="checkbox" class="brawl-checkbox" id="only-favorite-brawlers"/>
        SOLO BRAWLERS FAVORITOS
        <span class="brawl-checkmark"></span>
      </label>
  </div>

  <div class="h-screen relative">
    <div class="moving-skulls-background"></div>

    <div class="flex p-10 gap-10 flex-wrap">
      <app-box-buy-card *ngFor="let item of boxList" [box]="item"></app-box-buy-card>
    </div>
  </div>
</div>
