<style>
  :host ::ng-deep .p-menu {
    @apply bg-brawl-dark-slate px-4 pb-8 flex flex-col justify-between;
  }

  :host ::ng-deep .p-menu-item-link {
    @apply text-white;
  }

  .p-menu-item-link-active {
    @apply bg-[#EFC60A] text-black;
  }
</style>

<p-menu [model]="items" class="flex justify-center" styleClass="w-full md:w-60">
  <ng-template #start>
        <span class="w-full inline-flex items-center justify-center gap-1 px-2 pt-4">
            <img class="h-[80px] p-2" src="/logo.svg">
        </span>
  </ng-template>

  <ng-template #submenuheader let-item>
    <span class="text-primary font-bold">{{ item.label }}</span>
  </ng-template>

  <ng-template #item let-item>
    <a [routerLink]="item.route" routerLinkActive="p-menu-item-link-active" pRipple class="flex items-center p-menu-item-link group rounded mb-2">
      <span class="transition-all group-hover:text-black" [class]="item.icon"></span>
      <span class="ml-2 transition-all group-hover:text-black">{{ item.label }}</span>
      <p-badge *ngIf="item.badge" class="ml-auto" [value]="item.badge"/>
    </a>
  </ng-template>

  <ng-template #end>
    <button pRipple
            class="relative overflow-hidden w-full border-0 bg-transparent flex items-center p-2 pl-4 hover:bg-surface-100 dark:hover:bg-surface-800 rounded-none cursor-pointer transition-colors duration-200">
      <p-avatar image="https://cdn.brawlify.com/brawlers/borderless/16000079.png" class="mr-4"
                shape="square" size="large"/>
      <span class="inline-flex flex-col">
                <span class="font-bold text-white">Amy Elsner</span>
                <span class="text-sm text-[#12BEFC]">#DA84ASD3</span>
            </span>
    </button>
  </ng-template>
</p-menu>
