<div class="fixed {{ transparent ? 'opacity-15' : '' }} transition-all brawl-font z-20 py-4 cursor-pointer group px-7 gap-0.5 justify-center items-center bg-brawl-dark-slate flex flex-col bottom-0 right-0 m-5 rounded-full">
  <i class="pi pi-shopping-cart text-brawl-light-gray group-hover:text-brawl-gold" style="font-size: 2rem"></i>
  <span class="text-brawl-white text-lg">{{ itemsInCart }}</span>
</div>

<img src="/images/icons/box-icon.png" class="add-to-cart-animation h-12" id="add-to-cart-animation-template" alt="Caja añadida al carrito" style="display: none">
