<app-brawl-header></app-brawl-header>

<div class="w-full h-full bg-brawl-dark-blue">
  <div class="relative">
    <img src="/brawl-gift-shop.jpg" class="w-full h-52 object-cover opacity-70 border-b-4 border-slate-800" alt="Brawl Gift Shop">
    <img src="/images/brawlers/16000039_model.png" class="absolute bottom-1 object-top left-5 w-32 h-44 object-cover" alt="Colette">
    <div class="absolute left-32 bottom-10 w-56 h-[70px] lg:h-auto lg:w-auto object-top object-cover">
      <img src="/speech_bubble.png" class="right-5  hidden sm:block w-full h-full lg:w-[1000px] lg:h-24" alt="Speech Bubble">
      <span class="hidden lg:block object-top ps-20 absolute right-5 p-3 object-cover text-black font-bold top-0">
        ¡HOLA, HOLA, PEPITO! ¡Soy Colette, tu NUEVA MEJOR AMIGA! Bienvenido a mi TIENDA, donde hay <span class="text-brawl-blue">CAJAS</span>, <span class="text-brawl-lime">BRAWLERS</span> y más <span class="text-brawl-blue">CAJAS</span>!
        ¡Rápido, recoge tu recompensa diaria! O mejor aún… ¡COMPRA MÁS <span class="text-brawl-blue">CAJAS</span>! ¡Muchísimas! ¡Así tendras más <span class="text-brawl-lime">BRAWLERS</span> para tu <span class="text-brawl-pink">COLECCION</span>!
        ¡Vamos, NO ME HAGAS ESPERAR! 💕
      </span>

      <span class=" hidden sm:block lg:hidden object-top ps-6 left-0 absolute right-5 p-3 object-cover text-black font-bold top-0">
        HOLA, HOLA, PEPITO! Bienvenido a mi TIENDA
      </span>
    </div>

  </div>

  <div class="bg-brawl-blue p-4">
    <h1 class="text-2xl text-white text-shadow text-border-sm font-bold">FILTROS</h1>
  </div>
</div>
