@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primeicons/primeicons.css";

* {
  box-sizing: border-box;
  margin: 0;
  cursor: url('/images/mouse/mouse-normal.png'), default;
}

:where([style*="cursor: pointer"], [role*="slider"], .cursor-pointer, button, label, a),
:where([style*="cursor: pointer"], [role*="slider"], .cursor-pointer, button, label, a) * {
  cursor: url('/images/mouse/mouse-hover.png'), pointer !important;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  @apply bg-brawl-dark-slate;
}

::-webkit-scrollbar-thumb {
  @apply bg-brawl-gold rounded-lg;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-brawl-yellow;
}

