<div *ngIf="isOpen" class="z-50 fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
  <div class="bg-white p-6 rounded-lg flex flex-col gap-5 min-w-full xs:min-w-56 ">
    <h2 class="text-shadow text-xl text-border-xs text-brawl-white">EDITAR PERFIL</h2>
    <div class="flex flex-col gap-5">
      <div class="grid grid-cols-2 gap-5">
        <p-floatlabel variant="on" class="w-full">
          <input pInputText id="name" autocomplete="off" class="w-full" [(ngModel)]="userChange.name" maxlength="100"/>
          <label for="name">Nombre</label>
        </p-floatlabel>
        <p-floatlabel variant="on" class="w-full">
          <input pInputText id="surname" autocomplete="off" class="w-full" [(ngModel)]="userChange.surname"
                 maxlength="100"/>
          <label for="surname">Apellidos</label>
        </p-floatlabel>
        <div class="w-full flex flex-col">
          <p-floatlabel variant="on" class="w-full">
            <input pInputText id="dni" autocomplete="off" class="w-full"
                   [ngClass]="{'ng-invalid': !validateDNI(userChange.dni), 'ng-dirty': !validateDNI(userChange.dni)}"
                   [(ngModel)]="userChange.dni" maxlength="100"/>
            <label for="dni">DNI</label>
          </p-floatlabel>
          <span *ngIf="!validateDNI(userChange.dni)" class="text-red-500 text-sm">{{ errors['dni'] }}</span>
        </div>
        <div class="w-full flex flex-col">
          <p-floatlabel variant="on">
            <p-calendar id="birthdate" dateFormat="dd/mm/yy" class="w-full" [(ngModel)]="newBirthDate"
                        [class.ng-invalid]="isLegalAge(newBirthDate)"
                        [class.ng-dirty]="isLegalAge(newBirthDate)"></p-calendar>
            <label for="birthdate">Fecha de nacimiento</label>
          </p-floatlabel>
          <span *ngIf="isLegalAge(newBirthDate)" class="text-red-500 text-sm">{{ errors['birthdate'] }}</span>
        </div>
      </div>
      <div class="flex flex-col">
        <p-floatlabel variant="on" class="w-full">
          <input pInputText id="email" autocomplete="off" class="w-full"
                 [class.ng-invalid]="!validateEmail(userChange.email)"
                 [class.ng-dirty]="!validateEmail(userChange.email)"
                 [(ngModel)]="userChange.email" maxlength="100"/>
          <label for="email">Email</label>
        </p-floatlabel>
        <span *ngIf="!validateEmail(userChange.email)" class="text-red-500 text-sm">{{ errors['email'] }}</span>
      </div>
    </div>
    <div class="flex justify-between">
      <button class="bg-blue-500 text-white px-4 py-2 rounded" (click)="closeModal()">Cerrar</button>
      <button class="bg-blue-500 text-white px-4 py-2 rounded" (click)="saveChanges()">Guardar</button>
    </div>
  </div>
</div>
