
<div class="flex justify-center mt-4">
  <div class="flex flex-col gap-4 p-4 px-20">
    <img [src]="BoxTypeImages[type]" [alt]="type" class="w-[200px] h-[150px] object-contain rounded-lg" />
    <h1 class="text-2xl w-full text-center font-bold" *ngIf="!name">Nueva caja</h1>
    <h1 class="text-2xl w-full text-center font-bold max-w-[200px]" *ngIf="name">{{ name }}</h1>

    <div class="flex flex-col gap-1 mt-3">
      <label for="name">Nombre: </label>
      <input pInputText id="name" [(ngModel)]="name" />
    </div>

    <div class="flex flex-col gap-1">
      <label for="type">Tipo: </label>
      <p-select id="type" [options]="BoxTypes" [(ngModel)]="type" [style]="{'width': '100%'}">
        <ng-template pTemplate="item" let-item>
          {{ item }}
        </ng-template>
      </p-select>
    </div>

    <div class="flex flex-col gap-1">
      <label for="price">Precio: </label>
      <p-input-number id="price" mode="currency" currency="EUR" locale="es-ES" min="0" max="100" [(ngModel)]="price" />
    </div>

    <div class="flex flex-col gap-1">
      <label for="unlimitedQuantity">Tiene unidades ilimitadas: </label>
      <p-toggle-switch id="unlimitedQuantity" (onChange)="toggleUnlimitedQuantity()" />
    </div>

    <div class="flex flex-col gap-1">
      <label for="quantity">Unidades: </label>
      <p-input-number id="quantity" min="0" [disabled]="quantity == -1" [(ngModel)]="quantity" [max]="1000000" />
    </div>

    <div class="flex flex-col gap-1">
      <label for="brawlerQuantity">Cantidad de brawlers: </label>
      <p-input-number id="brawlerQuantity" min="0" [max]="maxBrawlersQuantity" [(ngModel)]="brawler_quantity" />
    </div>
  </div>

  <div class="flex flex-col gap-5">
    <h1 class="text-2xl text-center font-bold">Contenido</h1>
    <div *ngFor="let rarity of getRarities()" class="flex flex-col gap-4 bg-gray-100 rounded-lg p-4">
      <div class="flex flex-col gap-3">
        <div class="flex items-center gap-4">
          <p-input-number min="0" max="100" mode="decimal" minFractionDigits="0" suffix="%" (onFocus)="storePreviousValue(rarity)" (onInput)="defaultProbabilityChange(rarity)"
                          [maxlength]="getProbabilityMaxLength(rarityDefaultProbabilities[rarity])"
                          maxFractionDigits="0" size="small" inputStyleClass="w-[60px] text-center" [(ngModel)]="rarityDefaultProbabilities[rarity]"
                          pTooltip="% Aparición predeterminado" tooltipPosition="bottom"/>
          <h2 class="text-xl text-border-sm text-shadow brawl-font mb-0" [style.color]="rarityColors[rarity]">{{ rarity }}</h2>
        </div>

        <div class="flex gap-4">
          <button class="brawl-button text-white brawl-font py-1 px-3" (click)="activateAllBrawlersFromRarity(rarity)">
            Activar todos
          </button>

          <button class="brawl-button text-white brawl-font py-1 px-3" (click)="deactivateAllBrawlersFromRarity(rarity)">
            Desactivar todos
          </button>
        </div>

      </div>


      <div class="flex flex-wrap  gap-x-4 gap-y-6">
        <div class="flex flex-col gap-2" *ngFor="let brawler of brawlersClassified[rarity]">
          <div (click)="toggleBrawler(brawler)" class="relative size-[60px] cursor-pointer transition-all duration-[0.3s]" [ngClass]="{'brightness-50': !brawler.showProbability, 'brightness-100': brawler.showProbability}"
               [pTooltip]="brawler.name" tooltipPosition="bottom">
            <img [src]="brawler.image" [alt]="brawler.name" class="absolute border-4 border-black" />
          </div>

          <p-input-number [(ngModel)]="brawler.probability" min="0" max="100" mode="decimal" minFractionDigits="0" [maxlength]="getProbabilityMaxLength(brawler.probability)"
                          maxFractionDigits="0" size="small" inputStyleClass="w-[60px] text-center" suffix="%" [style.display]="brawler.showProbability ? 'block' : 'none'"
                          pTooltip="% Aparición" tooltipPosition="bottom"/>
        </div>
      </div>
    </div>
  </div>
</div>
